@model IEnumerable<TaskApplication.DataAccess.Entities.SubTask>
@using TaskApplication.DataAccess.Entities

@{
    ViewBag.Title = "Create new sub-task";
}

<div id="subtasks">
    <h2>Issue sub-tasks</h2>

    @if (Model.Count() > 0)
    {
        @Html.Action("_Index", "SubTask", new { issueId = ViewBag.IssueId })
        <hr>
    }

    <h2>@ViewBag.Title</h2>
    @using (Ajax.BeginForm("_SubmitSubTask", "SubTask", new AjaxOptions { UpdateTargetId = "subtasks" }))
    {
        @Html.AntiForgeryToken()
        @Html.Action("_SubTaskForm", "SubTask", new { id = ViewBag.IssueId })
    }
</div>
