@*@model System.Collections.Generic.List<TaskApplication.Models.SubTask>*@

@model IEnumerable<TaskApplication.Models.SubTask>

@{
    ViewBag.Title = "Create new sub-task";
}

<div id="subtasks">

    @Html.Action("_Index", "SubTask", new { issueId = ViewBag.IssueId })
    <hr>
    <h2>@ViewBag.Title</h2>
    @using (Ajax.BeginForm("_SubmitSubTask", "SubTask", new AjaxOptions { UpdateTargetId = "subtasks" }))
    {
        @Html.AntiForgeryToken()
        @Html.Action("_SubTaskForm", "SubTask", new { id = ViewBag.IssueId })
    }
</div>
