@{
    ViewBag.Title = "How to use";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <ol>
        <li>На головній сторінці виводиться список задач з розбиттям по категоріям (об"єднано стовпці таблиці).</li>
        <li>На головній можна створити нову задачу, знищити всі завершені задачі.</li>
        <li>Для певної задачі можна виконати: редагування, виведення детальної інформації, знищення.</li>
        <li>На сторінці редагування задачею можна керувати підзадачами задачі: створювати, видаляти, редагувати, змінювати статус.</li>
        <li>Якщо після зміни статусу підзадачі на сторінці редагування задачі всі підзадачі мають статус завершено, головній задачі присвоюється статус завершено (alert підкаже про це).</li>
        <li>Через головне меню можна керувати створнення, редагуванням, виведенням деталей, видаленням категорій задач.</li>
    </ol>

</article>

<aside>
    <h3>Aside Menu</h3>
    <ul>
        <li>@Html.ActionLink("Issues to do", "Index", "Issue")</li>
        <li>@Html.ActionLink("Navigate to Categories", "Index", "Category")</li>
        <li>@Html.ActionLink("How to use", "About", "Home")</li>
    </ul>
</aside>
